@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

#main-home-jumbotron {
    background-image: url('https://images.unsplash.com/photo-1550745165-9bc0b252726f');
    height: 500px;
    background-size: cover;
    background-position: center;
}

.btn-stretch {
    width: 100%;
}

.m-25 {
    margin: 1.25rem;
}

.ms-25 {
    margin-left: 1.25rem;
}

.game-thumbnail {
    height: 230px;
    object-fit: cover;
}

.game-info {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#game1 { background-image: url("../images/pong.png"); }
#game2 { background-image: url('../images/flappybird.png'); }
#game3 { background-image: url('../images/snake.png'); }
#game4 { background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420'); }

.title-text {
    font-size: 8rem;
}

@media (max-width: 768px) {
    #main-home-jumbotron, .game-info {
        height: 300px;
    }

    .title-text {
        font-size: 6rem;
    }
}

@media (max-width: 576px) {
    #main-home-jumbotron, .game-info {
        height: 200px;
    }

    .title-text {
        font-size: 4rem;
    }
}
